@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#index {
  &::-webkit-scrollbar {
    background-color: #1b4079;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #44ccff;
    border-radius: .4rem;
  }
}
.index-description {
  &::-webkit-scrollbar {
    background-color: #f4ebd9;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #1b4079;
    border-radius: .4rem;
  }
}

